<!DOCTYPE html>
<html class="bg-white" lang="{{ or site.Language.LanguageCode }}">
    <head>
        <meta property="og:site_name" content="Menumix">
        {{ if eq .Section "blog" }}
            {{ partial "head-blog.html" . }}
        {{ else }}
            {{ partial "head.html" . }}
        {{ end }}
        {{ partialCached "css.html" . }}
        {{ partial "pixel.html" . }}
    </head>
    {{ partial "analytics.html" . }}
    <style>
        html, body{
            overflow-x: hidden;
        }
    </style>
    <body>
        {{ partial "header.html" . }}
        <main style="margin-top:50px">
            {{ block "main" . }}{{ end }}
        </main>
        {{ partial "footer.html" . }}
        <script src="https://unpkg.com/lucide@latest"></script>
        <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    </body>
</html>
