{{ define "main" }}
<style>
    article h1 {
        font-weight: 600;
        font-size:  2rem;
        margin-bottom: 1em;
    }
    article h2, h3, h4, h5, h6 {
        font-weight: 600;
        font-size:  1.5rem;
        margin-bottom: 1em;
    }
    article h2, h3, h4, h5, h6 {
        font-weight: 600;
        font-size:  1.5rem;
        margin-bottom: 1em;
    }
    article p {
        font-size:  1.1rem;
        margin-bottom: 2em;
    }
    article ul {
        margin-bottom: 1em;
        padding-left: 1.5em;
        list-style-type: disc;
    }
    article ul li {
        margin-bottom: 0.5em;
        line-height: 1.5;
    }
    article .format {
        overflow-wrap: break-word;
    }
</style>
<main class="p-4 pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white antialiased">
  <div class="px-4 mx-auto max-w-screen-xl">
    <div class="flex flex-col md:flex-row items-center justify-between gap-8 mx-auto max-w-4xl">
      <div>
        <span class="inline-flex items-center rounded-md bg-indigo-100 px-2 py-1 mb-2 text-xl font-medium text-indigo-700">{{ i18n "menu_features" }}</span>
        <h1 class="text-black max-w-4xl mb-1 text-4xl font-bold tracking-tight leading-none md:text-4xl lg:text-4xl xl:text-4xl">{{ .Title }}</h1>
        <p class="max-w-3xl my-6 text-neutral-700 lg:mb-8 text-lg lg:text-xl">{{ .Description }}</p>
        <a href="https://panel.menumix.app/register" class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-indigo-600 hover:bg-indigo-500 focus:ring-4 focus:ring-indigo-300">
            {{ i18n "hero_cta_button" }}
        </a>
      </div>
      <div>
        <img class="max-w-full md:max-w-sm lg:max-w-md" src="/images/{{ .Params.image }}_{{ .Site.Language.Lang }}.webp" alt="menumix_qr">
      </div>
    </div>
  </div>
  <div class="flex justify-between px-4 mx-auto max-w-screen-xl">
    <article class="flex flex-col mx-auto w-full max-w-4xl format format-sm sm:format-base lg:format-lg format-blue">
      <div class="py-16">
        {{ .Content }}
      </div>
    </article>
  </div>
</main>
{{ end }}
