<nav aria-label="breadcrumb" class="my-2">
  <ol class="flex flex-wrap text-md text-neutral-500 space-x-2">
    {{ range .Ancestors.Reverse }}
      <li class="flex items-center">
        <a href="{{ .Permalink }}" class="hover:text-neutral-700">
          {{ .LinkTitle }}
        </a>
        <span class="mx-2 text-neutral-400">/</span>
      </li>
    {{ end }}
    <li class="flex items-center text-red-600 font-medium" aria-current="page">
      <a href="{{ .Permalink }}" class="truncate max-w-[160px] block">
        {{ .LinkTitle | truncate 20 "..." }}
      </a>
    </li>
  </ol>
</nav>
