<head>
    <title>
        {{- if .IsHome -}}
            {{ .Site.Title }} - Easy QR Menu
        {{- else if .Page.Title -}}
            {{ .Page.Title }} - {{ .Site.Title }}
        {{- else -}}
            {{ .Site.Title }}
        {{- end -}}
   </title> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/>
    <link rel="icon" href="/icons/favicon.png" type="image/png"/>
    <link rel="icon" href="/icons/favicon.svg" sizes="any" type="image/svg+xml"/>
    <link href="/main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@38..40,300..1000&family=Inter:opsz,wght@14..32,300..900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YCGQ89LW96"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YCGQ89LW96');
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16998662018">
    </script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-16998662018');
    </script>
</head>