<!DOCTYPE html>
<html>
<head>
    <title>{{ .Permalink }}</title>
    <link rel="canonical" href="{{ .Permalink }}"/>
    <meta name="robots" content="noindex">
    <meta charset="utf-8"/>
    <noscript>
        <meta http-equiv="refresh" content="0; url={{ .Permalink }}"/>
    </noscript>
    <script>
      ;(function () {
        // If user is not on root, redirect immediately
        if (window.location.pathname !== '/') {
          window.location.replace('{{ .Permalink }}')
          return
        }

        // Check localStorage first
        var storedLang = localStorage.getItem('preferredLanguage')
        if (storedLang === 'en') {
          window.location.replace('/en/')
          return
        } else if (storedLang === 'tr') {
          window.location.replace('/tr/')
          return
        } else if (storedLang === 'es') {
          window.location.replace('/es/')
          return
        } else if (storedLang === 'fr') {
          window.location.replace('/fr/')
          return
        } else if (storedLang === 'it') {
          window.location.replace('/it/')
          return
        } else if (storedLang === 'de') {
          window.location.replace('/de/')
          return
        } else if (storedLang === 'pt') {
          window.location.replace('/pt/')
          return
        }

        // If not stored, detect browser language
        var getFirstBrowserLanguage = function () {
          var nav = window.navigator,
            browserLanguagePropertyKeys = ['language', 'browserLanguage', 'systemLanguage', 'userLanguage'],
            i, language

          if (Array.isArray(nav.languages)) {
            for (i = 0; i < nav.languages.length; i++) {
              language = nav.languages[i]
              if (language && language.length) {
                return language
              }
            }
          }

          for (i = 0; i < browserLanguagePropertyKeys.length; i++) {
            language = nav[browserLanguagePropertyKeys[i]]
            if (language && language.length) {
              return language
            }
          }

          return 'en'
        }

        var preferLang = getFirstBrowserLanguage()
        if (preferLang.indexOf('en') !== -1) {
          localStorage.setItem('preferredLanguage', 'en')
          window.location.replace('/en/')
        } else if (preferLang.indexOf('es') !== -1) {
          localStorage.setItem('preferredLanguage', 'es')
          window.location.replace('/es/')
        } else if (preferLang.indexOf('fr') !== -1) {
          localStorage.setItem('preferredLanguage', 'fr')
          window.location.replace('/fr/')
        } else if (preferLang.indexOf('it') !== -1) {
          localStorage.setItem('preferredLanguage', 'it')
          window.location.replace('/it/')
        } else if (preferLang.indexOf('de') !== -1) {
          localStorage.setItem('preferredLanguage', 'de')
          window.location.replace('/de/')
        } else if (preferLang.indexOf('pt') !== -1) {
          localStorage.setItem('preferredLanguage', 'pt')
          window.location.replace('/pt/')
        } else {
          localStorage.setItem('preferredLanguage', 'tr')
          window.location.replace('/tr/')
        }
      })()
    </script>

</head>
<body>
<h1>Rerouting</h1>
<p>You should be rerouted in a jiff, if not, <a href="{{ .Permalink }}">click here</a>.</p>
</body>
</html>